{% extends '@App/layout.html.twig' %}
{% block title %} Product page {% endblock %}
{% block body %}
    <div class="starter-template">
        <h1>{{ product.title }}</h1>
        <p>Description:  {{ product.description }}</p>
        <p>Price:  {{ product.price }}</p>
        <p>Category:  {{ product.category.name }}</p>

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
