{% extends '@App/layout.html.twig' %}
{% block title %} Product page {% endblock %}
{% block body %}
    <div class="starter-template">
        <h1>Product page</h1>
        <p>Product {{ id }}</p>


    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
